<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Terms</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../content/navbar.css">
    <link rel="stylesheet" href="../../content/terms.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
</head>
<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #e31837; margin-bottom: 20px;">
      <div class="container-fluid">
          <a class="navbar-brand" href="../../index.html"><i class="fa-brands fa-twitter"></i> INFT-2202-03</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" href="../../index.html"><i class="fa-solid fa-house"></i> Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="opportunities.html"><i class="fa-solid fa-handshake-angle"></i> Opportunities</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="events.html"><i class="fa-regular fa-calendar-days"></i> Events</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="about.html"><i class="fa-solid fa-circle-info"></i> About Us</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="contact.html"><i class="fa-solid fa-inbox"></i> Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="gallery.html"><i class="fa-solid fa-image"></i> Gallery</a>
                </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="privacy.html">Privacy Policy</a></li>
                        <li><a class="dropdown-item" href="terms.html">Terms of Service</a></li>
                    </ul>
                  </li>
                  <li class="nav-item" id="authNav">
                    <a class="nav-link" href="login.html">Log In</a>
                </li>
              </ul>
          </div>
      </div>
    </nav>
  </header>
  <body>
    <main> 
        <section>
            <h2>Terms and Conditions for Designated Giving</h2>
            <p>The Salvation Army will accept unrestricted gifts, as well as gifts restricted for specific programs and purposes, provided that such gifts are not inconsistent with its stated mission, values, purposes, and priorities. Gifts may be restricted to specific Salvation Army programs/purposes or communities throughout Canada and around the world where the Army operates.</p>
            <p>While the Army will accept gifts that contain restrictions that they be used to provide programs or services that benefit a particular type of client (e.g. children, families, individuals with developmental challenges, etc.), no gift can be accepted that stipulates a specific individual who is to benefit.</p>
            <p>Before a gift is accepted, the Army reserves the right to decline any gift that cannot be used to support its mission or that is too restrictive to allow it to be administered or used effectively. The final decision to decline any gift shall be made by the Territorial Management Board.</p>       
            <p>After a gift has been accepted, if circumstances should at any time make it, in the view of the Territorial Management Board acting reasonably, impractical to apply the gift to the designated purpose, it may redesignate the purpose of the gift using its best efforts to adhere as closely as possible to the original intent of the gift. Where possible, the Territorial Management Board will seek input from the donor before the redesignation is made.</p>
        </section>
    </main>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../scripts/app.js"></script>
    <script src="../../scripts/auth.js"></script>
  </body>
  