<!--
Name: Dylan Gill & Joel Hieckert
Class Code: INFT-2202-03
Date: February 23, 2025
Description: privacy-content.html - SPA fragment for Privacy Policy
-->

<section>
    <h2>Our Commitment</h2>
    <p>The Governing Council of The Salvation Army in Canada (the “Army”) is committed to protecting the privacy of its donors, customers, clients, volunteers, employees, and members, and has always been concerned with treating personal information carefully and with appropriate confidentiality.</p>
    <p>The Army embraces the principles of the Canadian Standards Association Model Code for the Protection of Personal Information to ensure that all personal information is properly collected, used only for the purposes for which it is collected, and is disposed of in a safe and timely manner when no longer required.</p>
    <p>The Army carries on a wide variety of activities across Canada including the operation of family service centres, thrift stores, shelters, substance abuse and rehabilitation programs, correctional and justice service programs and community churches. We couldn’t do what we do without the support of hundreds of thousands of generous supporters. We value our donors’ trust and recognize that maintaining this trust requires that we be open and accountable in our treatment of the personal information that is shared with us. We do not trade, rent or sell the names of our supporters.</p>

    <h2>Guiding Principles</h2>
    <p>The following principles reflect our pledge to safeguard our donor’s personal information:</p>

    <h2>1. We are accountable for your personal information.</h2>
    <p>We are responsible for all personal donor information in our possession.</p>
    <p>Personal information is any information that serves to distinguish, identify or contact a specific individual. Information that is publicly accessible is not considered personal information (e.g. information found in a telephone directory) and, therefore, is not subject to privacy laws or Army policies regarding personal information.</p>
    <p>We keep our donors personal information in strict confidence.</p>
    <p>Personal information is only used for specifically identified or reasonable purposes, and only authorized individuals within the Army who have valid reasons have access to personal information. All professional fundraising staff with access to personal donor information are required to sign a privacy and confidentiality statement and to abide by Army privacy and confidentiality policies at all times.</p>
    <p>Where we choose to have certain services, such as data processing, provided by third party providers, we select the service providers carefully. We take all reasonable precautions to ensure that the service provider protects your personal information.</p>

    <h2>2. We collect, use and disclose personal information only for certain purposes that we identify to you.</h2>
    <p>The Army captures, uses or discloses personal information during fundraising campaigns only to:</p>
    <ul class="custom-list">
        <li>Administer your donation</li>
        <li>Ask you to renew your support for our mission</li>
        <li>Respond to your information requests</li>
        <li>Know who our donors are</li>
        <li>Send you literature about Salvation Army programs</li>
        <li>Invite you to recognition and information sessions</li>
        <li>Comply with any legal and/or regulatory requirements</li>
        <li>Thank you for your support</li>
    </ul>
    <p>We obtain personal information about you lawfully and fairly. Personal information is collected from you directly unless you authorize us to collect it from elsewhere. Personal information collected will be limited to that required for the purposes identified.</p>

    <h2>3. We obtain your consent.</h2>
    <p>We collect, use or disclose your personal information with your permission.</p>
    <p>Your permission may be expressed orally, in writing or may be implied, and you may give it to us orally, electronically or in writing. The Army may disclose personal information when we believe in good faith that the law requires it.</p>
    <p>Regularly, you will be given opportunities to opt out of receiving communication materials from us or you may choose to do so by visiting salvationarmy.ca/FAQ</p>

    <h2>4. We limit the collection of your personal information.</h2>
    <p>The Army will limit its collection of personal information to what is required for the purposes identified by us. We obtain personal information about you lawfully and fairly.</p>

    <h2>5. We limit the use, disclosure and retention of personal information.</h2>
    <p>Personal information will not be used or disclosed for purposes other than those for which it was collected, except with your consent or as required by law. Personal information will be retained only as long as necessary for fulfillment of those purposes. When we destroy personal information, we will use safeguards to prevent unauthorized parties from gaining access to that information during the process.</p>
    <p>The Army does not trade, rent or sell any personal information to third parties.</p>
    <p>The Army’s web pages contain online forms that allow visitors to make a donation. The personal and credit card information provided on these forms is used only to process these donations. Online donations to the Army may be processed through a third party. The security and privacy policies of this third party are available by clicking on the “Privacy Policy” link on the online donation form web page.</p>

    <h2>6. Accuracy of your personal information</h2>
    <p>The Army is committed to maintaining accurate, complete and up-to-date personal information as is necessary for the purposes for which it is to be used.</p>
    <p>We rely on our donors to provide us with accurate personal information. To change or modify any personal information previously provided to the Army, write to us at: Donor Fulfillment, The Salvation Army Territorial Headquarters, 2 Overlea Blvd, Toronto, Ontario, M4H 1P4 or visit salvationarmy.ca/FAQ</p>

    <h2>7. We safeguard your personal information</h2>
    <p>Your personal information is protected with security safeguards appropriate to the sensitivity of the information.</p>
    <p>Access to your personal information is restricted to authorized individuals within the Army who have valid reasons to access to personal information.</p>
    <p>We maintain appropriate technical and organizational safeguards to protect your personal information against loss, theft, unauthorized access, disclosure, copying, use or modification.</p>
    <p>We use password protocols and secure websites to protect the personal information we receive when an online donation is made. Our software is routinely updated to maximize protection of such information.</p>

    <h2>8. We will be open about our privacy practices</h2>
    <p>The Army will make readily available to you specific information about our policies and practices relating to the management of personal information. You may request a print version of our Privacy Policy by contacting the Salvation Army unit in your community or the Chief Privacy Officer at The Salvation Army Territorial Headquarters, 2 Overlea Blvd., Toronto, Ontario, M4H 1P4 or email communications@salvationarmy.ca</p>

    <h2>9. We allow you to access your personal information</h2>
    <p>You may ask us whether we hold any personal information about you. You can see that information and ensure that it’s accurate by contacting the Salvation Army unit in your community or the Chief Privacy Officer at The Salvation Army Territorial Headquarters, 2 Overlea Blvd., Toronto, Ontario, M4H 1P4 or email communications@salvationarmy.ca</p>

    <h2>10. You may register a complaint</h2>
    <p>You may register a privacy-related complaint by contacting the Salvation Army unit in your community or the Chief Privacy Officer at The Salvation Army Territorial Headquarters, 2 Overlea Blvd., Toronto, Ontario, M4H 1P4 or email communications@salvationarmy.ca. We will investigate all complaints. If a complaint identifies a gap in compliance, we will take appropriate steps to remedy the situation, including changing our policies and practices if necessary.</p>

    <p><strong>NOTE: Personal information relating to volunteers, job applicants, employees and clients are subject to similar protocols.</strong></p>
    <p><strong>Contacting the Army at communications@salvationarmy.ca</strong></p>
    <p>Questions, complaints and requests regarding personal information should be directed to the Salvation Army that has your information. The Chief Privacy Officer of The Salvation Army may be contacted at Territorial Headquarters, 2 Overlea Blvd., Toronto, Ontario, M4H 1P4, PrivacySA@salvationarmy.ca, telephone number 416-467-3173.</p>
    <p>For public relations inquiries, please contact the Army’s Territorial Communications Department by sending an email to communications@salvationarmy.ca</p>
    <p>If you wish to limit or opt-out of future contact by the Army, please write to us at: Donor Fulfillment, The Salvation Army Territorial Headquarters, 2 Overlea Blvd., Toronto, Ontario, M4H 1P4 or email salvationarmy.ca/FAQ</p>
</section>
