/*
    Name: Dylan Gill & Joel Hieckert
    Class Code: INFT-2202-03
    Date: February 23, 2025
    Description: lightbox.css
*/

/* LightBox Styling */
#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#lightbox.hidden {
    display: none;
}

#lightbox-img {
    max-width: 90%;
    max-height: 90%;
}

#close-lightbox {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
